* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	padding-inline: 15px;
	margin-inline: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 950px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1150px;
	}
}

main {
	text-align: center;
	display: flex;
	flex-direction: column-reverse;
}

@media (max-width: 768px) {
	main {
		flex-direction: column;
	}
}

img {
	width: 100%;
	max-width: 550px;
	height: 400px;
	object-fit: contain;
	margin-bottom: 20px;
}

figure {
	margin-top: 20px;
}

h3.title {
	font-size: 1.5rem;
	line-height: 1.3;
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 20px;
}

.container-form input,
.container-form button {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	outline: none;
}

.container-form button {
	cursor: pointer;
}

.card {
	background-color: #eee;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h3.title {
	text-transform: capitalize;
	font-size: 1.7rem;
	margin-bottom: 10px;
}

.content-list {
	list-style-type: square;
}

.content-list li {
	text-align: left;
	margin-left: 20px;
	line-height: 1.8;
}

.container-form {
	width: 100%;
	max-width: 600px;
	display: flex;
}

.container-form button {
	margin-left: 10px;
}

.container-form input {
	flex: 1;
}

@media (max-width: 768px) {
	.container-form {
		flex-direction: column;
	}
	.container-form button {
		margin-left: 0;
		margin-top: 10px;
	}
}